<html>
    <head>
        <title>Vita Brevis</title>
        <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css'></link>
        <link rel='stylesheet' type='text/css' href='/stylesheets/app.css'></link>

    </head>
    <body>
        <div class='ui fixed menu'>
                <a href='/'><div class="header item" href='/'><i class="lemon icon"></i>PAIGE SPACE</div></a>
                <!--<a href='/' class='item'>Home</a>-->
                <!--<a href='' class='item'>Diary</a>-->
                <!--<a href='' class='item'><i class='code icon'></i>Develop</a>-->
                <!--<a href='' class='item'><i class='euro icon'></i>Spanish</a>-->
                
            
             <div class="right menu">
                <a  href='/blogs/new' class=" item "><i class='write icon'></i>New</a>
                <a  href='/blogs/new' class=" item "><i class='write icon'></i>Login</a>
                <a  href='/blogs/new' class=" item "><i class='write icon'></i>LogOut</a>
            </div>
        </div>
        
        <div class='ui fixed vertical menu' style='margin-top:4.0em'>
            <a class=" item"><i class='comment icon'></i>Diary</a>
            <!--<div class="ui teal left pointing label">1</div>-->
            <a class="item"><i class='code icon'></i>Develop</a>
            <a class="item"><i class='euro icon'></i>Spanish</a>
        </div>
        

            
    